<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.livewallpaper.kumamotocastle"
    android:versionCode="13"
    android:versionName="1.1.9" 
    android:installLocation="auto">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <service
            android:name="jp.livewallpaper.kumamotocastle.KumamotoCastleLiveWallPaper"
            android:label="@string/KumamotoCastleLiveWall"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data 
                android:name="android.service.wallpaper" 
                android:resource="@xml/wallpaper" />
        </service>
        <activity 
            android:name="jp.livewallpaper.kumamotocastle.LiveWallPaperPreference" 
            android:theme="@android:style/Theme.WallpaperSettings" 
            android:exported="true">
        </activity>

    </application>
</manifest>